# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
# 微信小程序的npm
miniprogram_npm/
# 本地package
package-lock.json
# 项目
project.private.config.json
project.config.json